# Kernel config fragment — required for SPDX_INCLUDE_COMPILED_SOURCES
# sbom-cve-check uses DWARF debug info to map CVEs to compiled source files.
# https://sbom-cve-check.readthedocs.io/en/latest/sbom.html#yocto-project-configuration
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
