/delete-node/ &axi_adrv9001;
/delete-node/ &axi_adrv9001_rx1_dma;
/delete-node/ &misc_clk_0;
/delete-node/ &axi_adrv9001_rx2_dma;
/delete-node/ &axi_adrv9001_tx1_dma;
/delete-node/ &axi_adrv9001_tx2_dma;
/delete-node/ &axi_sysid_0;
/delete-node/ &psu_ctrl_ipi;
/delete-node/ &psu_message_buffers;
