/*Delete nodes from pl.dtsi which are redefined in ADI dts*/
/delete-node/ &axi_ad9361;
/delete-node/ &misc_clk_0;
/delete-node/ &axi_ad9361_adc_dma;
/delete-node/ &axi_ad9361_dac_dma;
/delete-node/ &axi_gpreg;
/delete-node/ &axi_hdmi_clkgen;
/delete-node/ &axi_hdmi_core;
/delete-node/ &misc_clk_1;
/delete-node/ &axi_hdmi_dma;
/delete-node/ &axi_i2s_adi;
/delete-node/ &misc_clk_2;
/delete-node/ &axi_iic_main;
/delete-node/ &axi_pz_xcvrlb;
/delete-node/ &axi_spdif_tx_core;
/delete-node/ &axi_sysid_0;
