/*Delete nodes from pl.dtsi which are redefined in ADI dts*/
/delete-node/ &sys_mb;
/delete-node/ &clk_cpu;
/delete-node/ &clk_bus_0;
/delete-node/ &axi_ad9625_0_core;
/delete-node/ &axi_ad9625_0_jesd_rx_axi;
/delete-node/ &axi_ad9625_0_xcvr;
/delete-node/ &axi_ad9625_1_core;
/delete-node/ &axi_ad9625_1_jesd_rx_axi;
/delete-node/ &axi_ad9625_1_xcvr;
/delete-node/ &axi_ad9625_dma;
/delete-node/ &axi_ethernet;
/delete-node/ &axi_ethernet_dma;
/delete-node/ &axi_fmcadc5_sync;
/delete-node/ &axi_gpio;
/delete-node/ &axi_gpio_lcd;
/delete-node/ &axi_iic_main;
/delete-node/ &axi_intc;
/delete-node/ &axi_linear_flash;
/delete-node/ &axi_spi;
/delete-node/ &axi_timer;
/delete-node/ &axi_uart;
/delete-node/ &sys_mb_debug;
/delete-node/ &axi_sysid_0;
